# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

KysarLab, "Average Height", com.kysarlab.imagej.Average_Height
KysarLab, "Curvature", com.kysarlab.imagej.Curvature
KysarLab, "Gradual Brightness", com.kysarlab.imagej.Gradual_Brightness
KysarLab, "Flatten Membrane", com.kysarlab.imagej.Flatten_Membrane
KysarLab, "Make PLY", com.kysarlab.imagej.Make_PLY
KysarLab, "Smooth Without Bleed", com.kysarlab.imagej.Smooth_NoBleed
